@font-face {
    font-family: '2dumbregular';
    src: url('fonts/2Dumb-webfont.eot');
    src: url('fonts/2Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/2Dumb-webfont.woff2') format('woff2'),
         url('fonts/2Dumb-webfont.woff') format('woff'),
         url('fonts/2Dumb-webfont.ttf') format('truetype'),
         url('fonts/2Dumb-webfont.svg#2dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p
{
	font-family: '2dumbregular'; 
    font-size: 1.5em;
}



body
{
    background-image: url("images/fondcv1.jpg");
    background-attachment: fixed;
}

p 
{
	text-align: center;
}

h1
{
	text-align: center;
}
.cv
{
	float: right;margin-right: 0px;
    margin-top: -35px;
	box-shadow: 12px 12px 6px black;
	border-left: 3px solid #C0C0C0;
    border-right: 3px solid #C0C0C0;
    border-bottom: 3px solid #C0C0C0;
    border-top: 3px solid #C0C0C0;
    
}


html
{
    margin-right: 10%;
    margin-left: 12%;
    margin-top: 3%;
}

#conteneur
{
display: flex;
text-align: justify;
justify-content: space-around;

 }

 .element 
 {
    width: 30%;
    
 }

 .element1
 {
    margin-left: 10%
 }

 h2
 {
    text-align: center;
    text-decoration: underline;
 }

aside
{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width: 10%;
    border-top-right-radius:15px; 
    border-bottom-right-radius:15px;
    background-color: black;
}

li
{
    margin-top: 5%;
    
}

.titre
{
    text-decoration: underline;
    font-weight: bold; 
}